
<div class="d-flex justify-content-center">
    <form asp-controller="Page" asp-action="Number" class="mb-5 w-50" method="post">
        <div class="form-floating mb-3">
            <h5>Enter the Video Name</h5>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Input" placeholder="name" name="Name">
          <label for="Name">name</label>
        </div>
        <div class="form-floating mb-3">
            <h5>Enter the Video Url</h5>
        </div>
        <div class="form-floating">
          <input type="url" class="form-control" id="Url" placeholder="url" name="Url">
          <label for="url">url</label>
        </div>
        <input type="submit" class="btn btn-primary" />
    </form>
</div>