@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn btn-primary mt-2" asp-controller="User" asp-action="SignIn">Sign In</a>
    <a class="btn btn-primary mt-2" asp-controller="User" asp-action="SignUp">Sign Up</a>
</div>